

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #5f9ea0;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background: #555;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    color: #5f9ea0;
}

.bookshelf-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0px;
    width:100%;
}