<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" href="/start.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>The Literary Haven</h1>
            <p>Your Gateway to Boundless Worlds</p>
        </header>

        <nav>
            <a href="/bookShop/books/add">Add Book</a>
            <a href="/bookShop/books">Book List</a>
        </nav>

        <section class="content">
            <h2>Explore Our Collection</h2>
            <p>Dive into a world of stories, knowledge, and imagination. Find your next favorite book today!</p>
            <img src="https://imgur.com/MwPVqUT.jpg" alt="Bookshelf" class="bookshelf-image">
        </section>

        <footer>
            <p>&copy; 2024 The Literary Haven. All rights reserved.</p>
        </footer>
        <button onclick="confirmAdmin()">Admin</button>
    </div>
    <script>
        let MAX_ATTEMPTS=2;
       let attempts=0;
        function confirmAdmin(){
            const enteredPass = prompt("Enter Admin Password:");
            const  pass="1234";
        
            if(enteredPass ===pass){
                window.open("/bookShop/admin" ,"_blank");

            }else if(enteredPass!==null) {
           
                attempts=attempts+1;
                alert("Incorrect Passwords."+attempts+"out of"+MAX_ATTEMPTS+" attempts");
            
            }
            if (attempts==MAX_ATTEMPTS){
                alert("BYE")
                open("https://www.sciencedirect.com/topics/computer-science/password-guessing")
            }
        }
      
    </script>
</body>
</html>